/* Angular Material Style */
.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

/* Nav */
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

main {
  padding: 20px;
}

.fill-space {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}
