<div>
  <angular-tag-cloud
    [data]="data"
    [width]="options.width"
    [height]="options.height"
    [overflow]="options.overflow"
    [zoomOnHover]="options.zoomOnHover"
    (clicked)="log('clicked', $event)"
    (dataChanges)="log('dataChanges', $event)"
    (afterInit)="log('After Init', $event)"
    (afterChecked)="log('After Checked', $event)">
  </angular-tag-cloud>
</div>

<button (click)="newDataFromObservable()">Get new Example Data</button>
<button (click)="reDraw()">Re-draw</button>
