<h1>AngularTagCloudModule - Demopage</h1>

<mat-accordion class="headers-align">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Simple Example
      </mat-panel-title>
      <mat-panel-description>
        Setting up the TagCloud with minimum propertys
      </mat-panel-description>
    </mat-expansion-panel-header>

    This exaple passes TagCludData into the [data]-property. [width] and [height] are set to a value which is interpreted as pixel size in this case.
    <angular-tag-cloud
      [data]="data1"
      [width]="800"
      [height]="350">
    </angular-tag-cloud>

    <p>
      [data] has  to be an Array of CloudData (interface is exported by the module). CloudData must contain the attribute 'text' which has to be a string. It may contain the following attributes:
    </p>

    <table style="width:100%">
      <tr>
        <th>Property</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>weight</td>
        <td>seting the value for weight which is relative to other elements on a discret scale from 1 to 10</td>
      </tr>
      <tr>
        <td>link</td>
        <td>setting an URL string which is the target of the link</td>
      </tr>
      <tr>
        <td>external</td>
        <td>Open a link in a new Tab (property link has to be set)</td>
      </tr>
      <tr>
        <td>color</td>
        <td>setting a CSS color string</td>
      </tr>
    </table>


  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Using relative width
      </mat-panel-title>
      <mat-panel-description>
        Value <= 1 for [width] causes the usage of relative width
      </mat-panel-description>
    </mat-expansion-panel-header>

    Setting the [width] to a value which is less or equal to 1 causes the usage of relative with for the TagCloud. E.g. 0.8 means a cloud width of 80%.
    <angular-tag-cloud
      [data]="data1"
      [width]="0.8"
      [height]="350">
    </angular-tag-cloud>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        No overflow
      </mat-panel-title>
      <mat-panel-description>
        Setting [overflow] to 'false'.
      </mat-panel-description>
    </mat-expansion-panel-header>

    Setting the [overflow] to 'false' causes that if words are just show if they fit into the container.
    <angular-tag-cloud
      [data]="data1"
      [width]="1100"
      [overflow]="false"
      [height]="350">
    </angular-tag-cloud>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Catch &amp; handle events
      </mat-panel-title>
      <mat-panel-description>
        Use (clicked), (afterInit) and (afterChecked)
      </mat-panel-description>
    </mat-expansion-panel-header>

    You can catch and handle (clicked), (dataChanges), (afterInit) and (afterChecked) events which are fired by the TagCloudComponent.
    The (clicked) event returns the element of type CloudData that you clicked on.
    The (dataChanges) object returns an object of type SimpleChanges (interface provided by @angular/core). You have access to the previous and current values.
    <angular-tag-cloud
      [data]="data1"
      [width]="options.width"
      [height]="options.height"
      (clicked)="log('clicked', $event)"
      (dataChanges)="log('dataChanges', $event)"
      (afterInit)="log('After Init', $event)"
      (afterChecked)="log('After Checked', $event)">
    </angular-tag-cloud>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rotate some words
      </mat-panel-title>
      <mat-panel-description>
        Set the attribute 'rotate' for an CloudData element to a deg value for rotation
      </mat-panel-description>
    </mat-expansion-panel-header>

    You can set the attribute 'rotate' for an CloudData element to a deg value for rotation to rotate an element by the given deg value.
    <angular-tag-cloud
      [data]="dataRotate"
      [width]="options.width"
      [height]="options.height"
      [overflow]="false">
    </angular-tag-cloud>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Zoom words on hover
      </mat-panel-title>
      <mat-panel-description>
        Set the attribute 'zoomOnHover' of type `ZoomOnHoverOptions` zoom elements on hover.
      </mat-panel-description>
    </mat-expansion-panel-header>

    You can set the attribute '[zoomOnHover]' with an Object of type 'ZoomOnHoverOptions'.
    <angular-tag-cloud
      [data]="dataRotate"
      [width]="options.width"
      [height]="options.height"
      [zoomOnHover]="options.zoomOnHover"
      [overflow]="false">
    </angular-tag-cloud>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Use Custome CSS
      </mat-panel-title>
      <mat-panel-description>
        Use a custom Stylesheet
      </mat-panel-description>
    </mat-expansion-panel-header>

    <angular-tag-cloud
      class="custom-css"
      [data]="data2"
      [width]="options.width"
      [height]="options.height"
      [overflow]="options.overflow">
    </angular-tag-cloud>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Update Data from Observable
      </mat-panel-title>
      <mat-panel-description>
        Update the CloudData
      </mat-panel-description>
    </mat-expansion-panel-header>

    <angular-tag-cloud
      [data]="data2"
      [width]="options.width"
      [height]="options.height">
    </angular-tag-cloud>

    <mat-action-row>
      <button mat-button color="primary" (click)="newDateFromObservable()">
        Get new Data from Observable
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Re-draw the cloud
      </mat-panel-title>
      <mat-panel-description>
        Trigger the `reDraw` method in order to force the cloud to initialize new
      </mat-panel-description>
    </mat-expansion-panel-header>

    <angular-tag-cloud
      [data]="data2"
      [width]="options.width"
      [height]="options.height">
    </angular-tag-cloud>

    <mat-action-row>
      <button mat-button color="primary" (click)="reDraw()">
        Re-draw the cloud
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

