<div>
  <angular-tag-cloud class="custom-css"
    [data]="data"
    [width]="options.width"
    [height]="options.height"
    [randomizeAngle]="options.randomizeAngle"
    [overflow]="options.overflow"
    [zoomOnHover]="options.zoomOnHover"
    [realignOnResize]="options.realignOnResize"
    (clicked)="log('clicked', $event)"
    (dataChanges)="log('dataChanges', $event)"
    (afterInit)="log('After Init', $event)"
    (afterChecked)="log('After Checked', $event)">
  </angular-tag-cloud>
</div>

<button (click)="newDataFromObservable()" id="randomDataBtn">Get random Example Data</button>
<button (click)="getStaticData()" id="staticDataBtn">Get static Example Data</button>
<button (click)="reDraw()" id="reDraw">Re-draw</button>
