<div class="flex xs:flex-col gap-4">
  <mat-card class="flex-1">
    <mat-card-header>
      <div mat-card-avatar class="card-image image-data"></div>
      <mat-card-title>Cloud Data</mat-card-title>
      <mat-card-subtitle>
        <a
          href="https://github.com/d-koppenhagen/angular-tag-cloud-module/blob/master/projects/angular-tag-cloud-module/src/lib/tag-cloud.interfaces.ts"
          target="_blank"
        >
          See CloudData-Interface
        </a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="cloudDataForm" class="flex flex-col">
        <h2>Example Data Options</h2>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-form-field class="flex-1">
            <input
              matInput
              type="number"
              formControlName="amount"
              placeholder="Quantity of random data"
              min="1"
              max="100"
              step="1"
            />
          </mat-form-field>

          <mat-slide-toggle
            class="adjust-top flex-1 xs:flex-col"
            formControlName="rotate"
          >
            Rotate some entries randomly
          </mat-slide-toggle>
        </div>

        <h2>Clouddata</h2>
        <div class="input-row flex">
          <textarea
            class="json-input flex-1"
            matInput
            rows="20"
            formControlName="data"
          ></textarea>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="getNewExampleData()">
        Get example Data
      </button>

      <button mat-raised-button color="basic" (click)="renderJsonData()">
        Render JSON
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="flex-1">
    <mat-card-header>
      <div mat-card-avatar class="card-image image-options"></div>
      <mat-card-title>Options</mat-card-title>
      <mat-card-subtitle>
        <a
          href="https://github.com/d-koppenhagen/angular-tag-cloud-module/blob/master/projects/angular-tag-cloud-module/src/lib/tag-cloud.interfaces.ts"
          target="_blank"
        >
          See CloudOptions-Interface
        </a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="cloudConfigForm" class="flex flex-col">
        <h2>Proportions</h2>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-form-field class="flex-1">
            <input
              matInput
              type="number"
              formControlName="width"
              placeholder="Width"
              min="0.1"
              max="1000"
              step="0.1"
            />
          </mat-form-field>

          <mat-form-field class="flex-1 xs:flex-col">
            <input
              matInput
              type="number"
              formControlName="height"
              placeholder="Height"
              min="100"
              max="1000"
              step="10"
            />
          </mat-form-field>
        </div>

        <div class="input-row" class="flex gap-5">
          <mat-label
            >Please note that a width > 1 causes an absolute width in pixels
            (e.g. 20 means 20 pixels). A width <= 1 means a relative width (e.g.
            0.9 = 90%).</mat-label
          >
        </div>

        <h2>General options</h2>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-slide-toggle class="flex-1" formControlName="overflow"
            >Overflow</mat-slide-toggle
          >
          <mat-slide-toggle class="flex-1" formControlName="strict"
            >Strict</mat-slide-toggle
          >
        </div>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-slide-toggle class="flex-1" formControlName="realignOnResize"
            >Realign on resize</mat-slide-toggle
          >
          <mat-slide-toggle class="flex-1" formControlName="randomizeAngle"
            >Randomize angle</mat-slide-toggle
          >
        </div>
        <div class="input-row flex gap-5 xs:flex-col pt-5">
          <mat-form-field class="flex-1">
            <input
              matInput
              type="number"
              formControlName="delay"
              placeholder="Delay in ms for each word (e.g. 300)"
              min="0"
              step="50"
            />
          </mat-form-field>
        </div>

        <h2>Zoom on hover options</h2>
        <div formGroupName="zoomOnHover">
          <div class="input-row flex gap-5 xs:flex-col">
            <div class="w-1/2 xs:w-full">
              <div class="flex gap-2.5">
                <mat-form-field class="w-4/5">
                  <mat-label>Color</mat-label>
                  <input
                    matInput
                    [colorPicker]="
                      cloudConfigForm.get('zoomOnHover')?.get('color')?.value
                    "
                    (colorPickerChange)="
                      cloudConfigForm
                        .get('zoomOnHover')
                        ?.get('color')
                        ?.setValue($event)
                    "
                    formControlName="color"
                  />
                </mat-form-field>
                <div
                  class="color-box w-1/5"
                  [style.background]="
                    cloudConfigForm.get('zoomOnHover')?.get('color')?.value
                  "
                ></div>
              </div>
            </div>

            <div class="w-1/2 xs:w-full">
              <mat-label class="label-text">Scale</mat-label>
              <mat-slider
                min="1"
                max="2"
                step="0.01"
                formControlName="scale"
              ></mat-slider>
            </div>
          </div>

          <div
            class="input-row flex gap-5 xs:flex-col"
          >
            <div class="w-1/2 xs:w-full">
              <mat-label class="label-text">Time</mat-label>
              <!-- <mat-slider
                min="0"
                max="2"
                step="0.1"
                formControlName="transitionTime"
              ></mat-slider> -->
            </div>
            <div class="w-1/2 xs:w-full">
              <mat-label class="label-text">Delay</mat-label>
              <!-- <mat-slider
                min="0"
                max="2"
                step="0.1"
                formControlName="delay"
              ></mat-slider> -->
            </div>
          </div>
        </div>

        <h2>Style</h2>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-slide-toggle class="flex-1" formControlName="customStyle"
            >Use custom Stylesheet</mat-slide-toggle
          >
        </div>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-form-field class="flex-1">
            <input matInput formControlName="font" placeholder="Font" />
          </mat-form-field>
        </div>
        <div
          class="input-row flex gap-5 xs:flex-col"
        >
          <mat-form-field class="flex-1">
            <input
              matInput
              formControlName="background"
              placeholder="Background"
            />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="">
      <button mat-raised-button color="basic" (click)="reDraw()">
        Redraw from Observable
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card class="card-top-space">
  <mat-card-header>
    <mat-card-title>Preview</mat-card-title>
    <mat-card-subtitle
      >Open the Dev-Tools to inspect the emitted events</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <!-- Yo can set / override the config -->
    <!--
    [height]="cloudConfigForm.value.height"
    [overflow]="cloudConfigForm.value.overflow"
    [strict]="cloudConfigForm.value.strict"
    [realignOnResize]="cloudConfigForm.value.realignOnResize"
    [randomizeAngle]="cloudConfigForm.value.randomizeAngle"
    [zoomOnHover]="cloudConfigForm.value.zoomOnHover"
    -->

    <div class="wrapper">
      <angular-tag-cloud
        [data]="data"
        [config]="cloudConfigForm.value"
        [log]="'warn'"
        (clicked)="log('clicked', $event)"
        (dataChanges)="log('dataChanges', $event)"
        (afterInit)="log('After Init', $event)"
        (afterChecked)="log('After Checked', $event)"
        [class.custom-css]="cloudConfigForm.get('customStyle')?.value"
      >
      </angular-tag-cloud>
    </div>
  </mat-card-content>
</mat-card>
